{% extends 'base.html' %}



{% block main %}

  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">
      SEJA BEM VINDO AO SISTEMA<br>
    </div>
    <div class="col-sm">
      <a href="{% url 'logout' %}">Logout</a><br>
      <a href="/admin">Administração</a><br><br>
      <a href="{% url 'lista_pecas' %}">PECAS</a><br>
      <a href="{% url 'lista_compras' %}">COMPRAS</a><br>
      <a href="{% url 'lista_saidas' %}">SAIDAS</a><br>
      <a href="{% url 'lista_unidades' %}">UNIDADES</a><br>
      <a href="{% url 'lista_clientes' %}">CLIENTES</a><br>
      <a href="{% url 'lista_funcionarios' %}">FUNCIONÁRIOS</a><br>
      <a href="{% url 'lista_projetos' %}">PROJETOS</a><br>
      <a href="{% url 'lista_estoques' %}">ESTOQUE</a><br>
    </div>
  </div>

{% endblock %}
